body, html {
    height: 100%;	
	margin:0;
	font-family: 'Lato', sans-serif;
    background-color: #F5F5F5;
}

/* стилизация верхнего меню */
.navbar-top{
    width: 100%;
	height: 25px;
	text-align: right;
    padding: 10px 25px 0px 0px;
} 

.navbar-top a{
	text-decoration: none;
	color: black;
	font-size: 16px;
    padding-left: 10px;
}

.navbar-top a:hover{
    text-decoration: none;
	color: rgb(25, 167, 49);
}

.fa.fa-child{
    font-size: 22px;
    color:#176306;
} 

.fa.fa-child:hover{
    color :#3cae22;
} 

.brand-logo{
    float: left;
}

/* Sections */

#app {
    padding: 0 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0;
    padding: 1rem 0;
}

.main {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-bottom: 2rem;
}

.trees {
    flex: 3;
}

.tre-list {
    margin-right: 1rem;
}

.tre {
    padding: 1rem;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    overflow: auto;
    margin: 1rem 1rem 1rem 0rem;
    display: flex;
    flex-flow: row nowrap;
}

.tre:first-child {
    
}

.tre > div:first-child {
	margin-top: 0;
}

.tre > div:last-child {
    margin-left: 1rem;
}

.tree-image {
    max-height: 250px;
    width: 200px;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
}

.tree-image > img {
    height: 100%;
    width: 200px;
    display: block;
}

.tree-title {
    margin-top: 0;
}

label{
    line-height: 1.5;
}
