body{
  max-width: 1920px;
  overflow: hidden;
}

#app{
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

/* стилизация верхнего меню */
.navbar-top{
background: #ffffff;
  width: 100%;
height: 45px;
text-align: right;
  padding: 10px 25px 0px 0px;
} 

.navbar-top a{
text-decoration: none;
color: black;
font-size: 16px;
  padding-left: 10px;
}

.navbar-top a:hover{
  text-decoration: none;
color: rgb(25, 167, 49);
}

.fa.fa-child{
  font-size: 22px;
  color:#176306;
} 

.fa.fa-child:hover{
  color :#3cae22;
} 

.brand-logo{
  float: left;
}

/*  */
.fa.fa-table{
  position: absolute;
  right: 55px;
  top: 60px;
  z-index: 1;
  font-size: 30px;
  color :#616060;
}

.fa.fa-table:hover{
  color: black;
}
/*  */
.details{
  z-index: 1;
  position: absolute;
  top: 18%;
  left: 0px;
  width: 290px;
  border: 3px solid #008603;
  background: #f8f7f7;
  padding: 5px 15px 30px 15px;
  font-size: 16px;
  font-family: 'Spectral', serif;
  /* font-family: 'PT Serif Caption', serif; */
}

.infoTree input{
  float: right;
}

input{
  width: 160px;
}

.fa.fa-hand-o-left{
  font-size: 40px;
  color: darkgreen;
  position: relative;
  left: 200px;
} 

.photoTree img{
  height: 100px;
}

/*  */
.glyphicon.glyphicon-filter{
  position: absolute;
  right: 6px;
  font-size: 30px;
  color :#616060;
  z-index: 1;
}

.glyphicon.glyphicon-filter:hover{
  color: black;
}

.filters{
  position: absolute;
  right: 10px;
  top: 100px;
  z-index: 1;
}

/* стилизация карты */
#map{
  width: 100%;
  height: 930px;
}

/*стилизируем боковые элементы
.fa.fa-plus-circle{
  position: absolute;
  z-index: 1;
  left: 7px!important; 
  top: 125px;
  font-size: 35px;
  color: rgb(31, 38, 42);
  display: flex;
  justify-content: flex-end;
}
    
.fa.fa-edit{
  position: absolute;
  padding-top: 10px;
  z-index: 1;
  left: 7px!important;
  top: 160px;
  font-size: 30px;
  color: rgb(31, 38, 42);
  display: flex;
  justify-content: flex-end;
}
    
.material-icons{
  position: absolute;
  padding-top: 20px;
  z-index: 1;
  left: 3px;
  top: 190px;
  font-size: 35px!important;
  color: rgb(31, 38, 42);
  display: flex;
  justify-content: flex-end;
}

.open-button {
  z-index: 1;
}*/
      
/*стилизируем radio button */
      
/* .container {
  z-index: 1;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}
  
.container input {
  z-index: 1;
  position: absolute;
  opacity: 0;
  cursor: pointer;
} */
      
/* Create a custom radio button */
/* .checkmark {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.container input:checked ~ .checkmark {
  background-color: rgb(17, 150, 83);
} */
      
/* стилизируем индикатор */
/* .container .checkmark:after {
  z-index: 1;
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(192, 190, 190);
} */
      
/*стилизируем форму*/
/* .form-popup {
  z-index: 1;
  display: none;
  position: fixed;
  left: 0px;
  z-index: 9;
}
.form-container {
  height: 1000px;
  z-index: 1;
  max-width: 310px;
  padding: 10px;
  background-color:#fdfcfc;
  border-right: 2px solid rgb(232, 235, 243);
}

.form-container input{
  float: right;
} */

/*стилизируем загрузку картинки*/
/* .thumb {
  height: 120px;
  border: 1px solid #000;
  margin: 50px 0px 0px 15px;
}

.hide{
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.form-container .selectImg{
  cursor: pointer;
  background-color: #ffb732;
  padding: 16px 55px;
  border: none;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0.9;
}

.form-container .selectImg:hover{
  opacity: 1;
  z-index: 1;
} */

/*стилизируем кнопку создания*/
/* .form-container .btn {
  z-index: 1;
  background-color: #4CAF50;
  color: white;
  padding: 16px 15px;
  border: none;
  cursor: pointer;
  width: 99.1%;
  margin-bottom: 10px;
  opacity: 0.9;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  z-index: 1;
} */


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 540px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
}