body{
  max-width: 1920px;
  overflow: hidden;
}

#app{
  font-size: 16px;
  font-family: 'Merriweather', serif;
}

/* стилизация верхнего меню */
.navbar-top{
  background: #ffffff;
  width: 100%;
  height: 45px;
  text-align: right;
  padding: 10px 25px 0px 0px;
} 

.navbar-top a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding-left: 10px;
}

.navbar-top a:hover{
  text-decoration: none;
  color: rgb(25, 167, 49);
}

.fa.fa-child{
  font-size: 22px;
  color:#176306;
} 

.fa.fa-child:hover{
  color :#3cae22;
} 

/*  */
.details{
  z-index: 1;
  position: absolute;
  top: 18%;
  left: 0px;
  width: 290px;
  border: 3px solid #008603;
  background: #f8f7f7;
  padding: 5px 15px 30px 15px;
  font-size: 16px;
  font-family: 'Spectral', serif;
  /* font-family: 'PT Serif Caption', serif; */
}

.infoTree input{
  float: right;
}

input{
  width: 160px;
}

.fa.fa-hand-o-left{
  font-size: 40px;
  color: darkgreen;
  position: relative;
  left: 200px;
} 

.photoTree img{
  height: 100px;
}


/*стилизация картинки в таблице */
.imgTree {
    width: 30px;
}

table.customTable {
  width: 97%;
  margin-left: 3rem;
  border-collapse: collapse;
  border: 2px solid #053013;
  color: #000000;
  text-align: center;
}

table.customTable td, table.customTable th {
  border: 2px solid #053013;
  padding: 5px;
  text-align: center;
}

