<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Инвентаризация</title>
    <link rel="stylesheet" href="css/stylemaps.css">

    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=PT+Serif+Caption" rel="stylesheet"> -->
    <script src="js/vue.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?region=cn&language=ukr-CN&key=AIzaSyDzsFxCMe9JMR-CoSCyfP6jUiGMuXPTazU"></script>
</head>
<body>
    <div id="app">
        <div class="navbar-top">
            <a href="#" class="brand-logo">Logo</a>
            <a href="index2.html">Дані</a>
            <a href="table.html">Таблиця</a>
            <a href="modal.html"><i class="fa fa-child" aria-hidden="true"></i></a>
        </div>

        <div class="datatTable">
            <a href="table.html"><i class="fa fa-table" aria-hidden="true" title="перегляд у вигляді таблиці"></i></a>
        </div>

        <!--просмотр информации-->
        <div class="details" v-bind:hidden="jumper">
                <div class="photoTree">
                    <img v-bind:src="treesImages[detailStateTrees]">
                        <hr>
                    <div class="infoTree">
                        <p>Назва <input type="text" v-model="detailItemTrees" disabled></p>
                        <p>Висота <input type="text" v-model="detailStatureTrees" disabled></p>
                        <p>Діаметр <input type="text" v-model="detailDiameterTrees" disabled></p>
                        <p>Вік <input type="text" v-model="detailAgeTrees" disabled></p>
                        <p>Стан <input type="text" v-model="detailStateTrees" disabled></p>
                        <p>Широта <input type="text" v-model="detailLatTrees" disabled></p>
                        <p>Довгота <input type="text" v-model="detailLngTrees" disabled></p>
                    </div> 
                </div> 
                    <a href="#"><i class="fa fa-hand-o-left" aria-hidden="true" v-on:click="back()"></i></a>
            </div> 

        <!--фильтрация-->
        <div class="filters" v-on:click="show = !show">
            <a href="#"><span class="glyphicon glyphicon-filter" title="фільтрація"></span></a><br>
            <div id = "filterTrees" v-bind:hidden="show">
                <input type = "checkbox" id = "normalState" value = "Нормальне" v-model = "search">Нормальне<br>
                <input type = "checkbox" id = "goodbadState" value = "Напівсухе" v-model = "search">Напівсухе<br>
                <input type = "checkbox" id = "badState" value = "Сухе" v-model = "search">Сухе<br>
                <div class = "filterTrees" v-for = "(item, index) in filteredItems"></div>
            </div>
        </div>

        <div id="map"></div>   
    </div>
<script src="js/main.js"></script>
</body>
</html>